.k-home {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 45px;

  .k-gridTitle {
    width: 250px;
    margin: 10px
  }
}


