.folder {
  height: 120px;
  width: 180px;
  line-height: 150px;
}

.iconhome {
  font-size: 70px;
  top: 5px;
}

.glyphicon-folder-close {
  font-size: 35px;
  color: #FFC107;
}

.glyphicon-file {
  font-size: 35px;
  color: #67abc5;
}
.upload {
  font-size: 20px;
  display: inline-block;
  float: right;
  color: #2196F3;
}

.container {
  padding-bottom: 80px;
}

footer {
  background-color: #061319;
  color: white;
  padding: 15px;
  position: fixed;
  bottom: 0;
  height: 80px;
  width: 100%;
}
