.k-folders {

  .k-icon-folder-close {
    font-size: 35px;
    color: #FFC107;
  };

  .k-icon-glyphicon-file {
    font-size: 35px;
    color: #67abc5;
  };
  .k-icon-download-alt {
    font-size: 20px;
    display: inline-block;
    float: right;
  }

}